@import 'https://fonts.googleapis.com/css?family=Fjalla+One|Inconsolata|Oxygen';
body {
  background-color: black;
}

h1 {
  color: red;
  text-align: center;
  font-family: Fjalla One;
  padding: 25px;
  margin: 30px;
}

h2 {
  text-align: center;
  font-family: Inconsolata;
  color: red;
  padding: 10px;
  margin: 20px;
  width: 475px;
}

p {
  color: red;
  text-align: center;
  font-family: oxygen;
  background-image: "https://a4-images.myspacecdn.com/images03/2/85a286a4bbe84b56a6d57b1e5bd03ef4/300x300.jpg"
}

nav {
  text-align: center;
}
