@import 'https://fonts.googleapis.com/css?family=Fjalla+One|Inconsolata|Oxygen';
h1 {
  color: red;
  background-color: black;
  text-align: center;
  font-family: Fjalla One;
  padding: 25px;
  margin: 30px;
}
h2 {
  text-align: center;
  font-family: Inconsolata;
  color: red;
  background-color: black;
  padding: 10px;
  margin: 20px;
  width: 475px;
}
p {
  color: red;
  background-image: url("https://a4-images.myspacecdn.com/images03/2/85a286a4bbe84b56a6d57b1e5bd03ef4/300x300.jpg");
  text-align: center;
  font-family: oxygen;
}
nav {
  text-align: center;
}
